.project-jumbotron {
  grid-column: 1 /5;
  grid-row: 2/3;
  align-self: center;
}
.click-to-view {
  position: absolute;
  font-size: 4rem;
  margin: auto;
  left: 40%;
  top: 50%;
  z-index: 20000;
}
