.project-navigation {
  display: grid;
  grid-template-rows: 4rem 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  justify-content: center;
}

.nav-link {
  font-size: 6rem;
  color: rgb(7, 73, 123);
}

.Redux {
  justify-self: end;
}

.React,
.JavaScript {
  justify-self: center;
}

.project-navigation .slide {
  grid-column: 1 /5;
  grid-row: 2/3;
  align-self: center;
}

.default-show {
  grid-column: 1 /5;
  grid-row: 2/3;
  align-self: center;
  font-size: 10rem;
}
