.project-navbar {
  position: absolute;
  top: 30%;
  display: flex;
  left: 6rem;
  height: 40rem;
  width: max-content;
  z-index: 0;
  flex-direction: column;
  justify-content: right;
  padding: 2rem;
}

.projects-title {
  color: rgb(157, 222, 222);
  font-size: 5rem;
  position: absolute;
  right: 0;
  left: 0;
  top: 1rem;
}

.project-navigation-show {
  opacity: 1;
  height: 100vh;
  transition: 0.4s linear;
}

.project-navigation-hide {
  opacity: 0;
}

.nav-link {
  font-size: 3.5rem;
  margin: 1rem 0;
  color: rgb(154, 211, 255);
  padding: 0rem 1rem;
  width: max-content;
  height: max-content;
  transition: 0.2s linear;
}

.nav-link:hover {
  text-decoration: none;
  color: rgb(63, 223, 218);
  background: rgb(35, 143, 143);
  padding: 0rem 1rem;

  border-radius: 0.7rem;
}

.active:focus {
  text-decoration: none;
}

.active {
  width: max-content;
}

.project-navbar .active {
  color: rgb(0, 255, 247);
  border-left: 4px solid rgb(35, 143, 143);
  padding: 0rem 1rem;
  transition: 0.2s linear;
  width: max-content;
}

.React,
.JavaScript {
  width: max-content;
}

.project-navigation .slide {
  grid-column: 1 /5;
  grid-row: 2/3;
  align-self: center;
}

.default-show {
  grid-column: 1 /5;
  grid-row: 2/3;
  align-self: center;
  font-size: 10rem;
}

img {
  border-radius: 0.5rem;
}
