.project-navbar {
  display: flex;
  height: max-content;
  margin: auto 0;
  width: max-content;
  z-index: 0;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
}

.projects-title {
  color: rgb(157, 222, 222);
  font-size: 5rem;
  position: absolute;
  right: 0;
  left: 0;
  top: 1rem;
}

.project-navigation-show {
  background-image: url('https://res.cloudinary.com/paulkim/image/upload/v1552422157/images/backgrounds/tree_night.jpg');
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(66, 0, 0, 0.89);
  opacity: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  transition: 0.6s linear;
}

.project-navigation-hide {
  opacity: 0;
}

.nav-link {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0.5rem;
  color: rgb(94, 163, 216);
  padding: 0.5rem 1rem;
  width: max-content;
  height: max-content;
  transition: 0.2s linear;

  display: flex;
  align-items: center;
  border: 1.5px solid rgba(0, 0, 0, 0);
}

.nav-link:hover {
  text-decoration: none;
  color: rgb(176, 228, 226);
  background: rgb(35, 143, 143);
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  border: 1.5px solid rgb(45, 76, 112);
}

.active:focus {
  text-decoration: none;
}

.active {
  width: max-content;
}

.project-navbar .active {
  color: rgb(0, 255, 247);
  transition: 0.2s linear;
  width: max-content;
  display: flex;
  align-items: center;
  position: relative;
}

.project-navbar .active:hover {
  color: rgb(184, 184, 184);
}

.project-navbar .active::before {
  border-left: 10px solid rgb(35, 143, 143);
  position: absolute;
  content: '';
  top: 2rem;
  left: -1.3rem;

  height: 0.4rem;
}

.React,
.JavaScript {
  width: max-content;
}

.project-navigation .slide {
  grid-column: 1 /5;
  grid-row: 2/3;
  align-self: center;
}

.default-show {
  grid-column: 1 /5;
  grid-row: 2/3;
  align-self: center;
  font-size: 10rem;
}

img {
  border-radius: 0.5rem;
}
