.react-jinke-music-player {
  width: 60px;
  height: 60px;
  color: #31c0c2;
}

.react-jinke-music-player .music-player-controller {
  border: 2px solid rgb(105, 133, 135);
  color: rgb(102, 165, 171);
}

.music-player-panel {
  background-color: rgba(7, 27, 41, 0.632);
}

#music-player-controller {
  background-color: rgb(57, 57, 85);
  width: 60px;
  height: 60px;
}

.audio-lists-panel-header .title {
  font-weight: bold;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.351);
}

.audio-item {
  background-color: #000000 !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18) !important;
}

.audio-title {
  font-weight: bold;
}

.player-name {
  font-weight: bold;
}

.progress-bar {
  background: rgba(255, 255, 255, 0) !important;
}
