.react-jinke-music-player {
  width: 60px;
  height: 60px;
  color: #31c0c2;
}

.music-player-panel {
  background-color: rgba(7, 27, 41, 0.632);
}

#music-player-controller {
  background-color: rgb(57, 57, 85);
  width: 60px;
  height: 60px;
}

.audio-lists-panel-header .title {
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.351);
}

.audio-item {
  background-color: #000000 !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18) !important;
}
