.audio-location {
  display: flex;
  justify-content: flex-end;
}

.audio-hide {
  width: 6rem !important;
  overflow: hidden;
  transition: 0.4s linear;
  position: absolute;
  left: 28rem;
}

.audio-show {
  position: absolute;
  width: 23rem !important;
  transition: 0.4s linear;
  overflow: hidden;
  left: 28rem;
}
