.header-container-hide {
  position: absolute;
  height: 9rem;
  display: flex;
  flex-direction: column;
  width: 100vw;
  opacity: 0;
}

.header-container-show {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
  opacity: 1;
  transition: 1s linear;
}
