@font-face {
  font-family: burls;
  src: url(../../Fonts/Burls.ttf);
}

@font-face {
  font-family: nunito;
  src: url(../../Fonts/Nunito-Regular.ttf);
}

@font-face {
  font-family: badscript;
  src: url(../../Fonts/Badscript.ttf);
}

@font-face {
  font-family: codec;
  src: url(../../Fonts/codec.ttf);
}

@font-face {
  font-family: antaro;
  src: url(../../Fonts/Antaro.ttf);
}

* {
  font-family: antaro;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

audio {
  position: absolute;
  z-index: 10200;
  bottom: 17rem;
  left: 10.5rem;
  height: 7rem;
  width: 6em;
  padding-right: 0rem;
  cursor: pointer;
}

.transition {
  margin-top: 15rem;
  background-image: linear-gradient(to bottom right, #26b5fc, #2d5960);

  height: 20rem;
}

.scroll-snap {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 8rem 1fr 10rem;
  scroll-snap-align: start;
}

.ripples {
  position: absolute;
  width: 97vw;
  height: 100%;
  z-index: 9;
}
.ripples-ball {
  /* z-index: 100000; */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  border: 1px solid rgb(154, 226, 250);
}
