.nav-bar {
  grid-row: 1 /2;
  z-index: 1000;
  width: 101vw;
  height: 8rem;
  top: 0;
  margin: 0 -0.1rem;
  position: fixed;
  animation: slideInDown 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.4s;
  opacity: 0.7;
  background: none;
  border: none;
}

.nav-bar-hide {
  top: -9rem;
  transition: 0.4s;
}

.navbar-header {
  padding-left: 2rem;
}

.navbar-brand {
  padding: 2px 15px;
  margin-top: 1rem;
}

.container {
  width: 100%;
  display: grid;
  height: 8rem;
  /* background-image: linear-gradient(to right, #0f3f5d, #44718e); */
  grid-template-columns: 1fr 1fr 1fr;
  background: none;
}

.navbar-collapse,
.collapse {
  height: 4rem;
  align-self: end;
  margin-bottom: 1rem;
}

.projects-tab {
  font-size: 2.5rem;
  z-index: 10;
  position: relative;
  overflow: hidden;
  color: rgb(37, 167, 223);
  margin: 0 0.5rem;
  padding: 0.5rem 0.5rem;
  opacity: 1;
  text-decoration-line: 0;
}

.nav-links-show .active {
  text-decoration: none !important;
  color: rgb(143, 221, 255) !important;
}

.nav-links-show {
  transform: translate3d(0, 0, 0);
  transition: 0.8s ease;
  opacity: 1;
  display: flex;
  align-items: flex-end;
}

.nav-links-hide {
  transform: translate3d(45rem, 0, 0);
  transition: 0.8s ease;
  opacity: 1;
}

.nav-render {
  opacity: 0;
  transform: translate3d(-4rem, 0, 0);
}

.projects-tab:hover {
  text-decoration: none !important;

  color: rgb(49, 185, 244);
}

.projects-tab i {
  font-size: 1.8rem;
  margin-right: 1rem;
}

.projects-tab::before {
  background-color: rgb(42, 76, 99);
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  transform: translate3d(-1rem, 0rem, 0);
  z-index: -1;
  padding: 0;
  transition: all 0.4s ease;
}

.projects-tab:hover::before {
  height: 100%;
  width: 110%;
}

.navbar-nav:hover li a {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: rgb(14, 180, 210);
  padding: 0.7rem;
}

.navbar-default .navbar-nav > li > a:hover {
  color: rgb(1, 7, 9);
}

.navbar-default .navbar-nav > li > a:active .quote {
  color: rgb(174, 232, 238);
  letter-spacing: 3px;
  font-size: 2rem;
}
.default .navbar-nav li a {
  color: #76a7bd;
}

.collapsed {
  border-color: #ddd;
  position: absolute;
  right: 0;
}

.nav-header-show,
.nav-header-hide {
  position: absolute;
  overflow: hidden;
  display: flex;
  z-index: -100;
  justify-content: space-between;
  height: 11rem;
  width: 100vw;
  padding: 3rem 3rem 1.5rem 3rem;
  align-content: center;
  background: rgb(7, 27, 41);
  opacity: 0;
  transition: 0.3s linear;
  box-shadow: 1px 1px rgba(58, 57, 57, 0.281);
}

.nav-header-show {
  opacity: 1;
  z-index: 101;
}

.logo-show {
  transform: translate3d(0, 0, 0);
  transition: 0.5s ease-in-out;
}

.logo-hide {
  transform: translate3d(0, -10rem, 0);
  transition: 0.5s ease-in-out;
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 760px) {
  .quote {
    display: none;
  }
}
