.navbar {
  height: 10rem;
  background-color: rgb(59, 59, 72);
  margin: 0 -0.1rem;
  animation: slideInDown 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar-header {
  grid-column: 1;
  padding-left: 2rem;
}

.container {
  width: 100%;
  display: grid;
  height: 10rem;
  background-color: #0f3f5d;
  grid-template-columns: 1fr 1fr 1fr;
}

.navbar-collapse,
.collapse {
  height: 4rem;
  align-self: end;
}

.projects-tab,
.about-tab {
  font-size: 2.5rem;
  z-index: 10;
}

.navbar-default .navbar-nav > li > a {
  color: rgb(41, 161, 182);
}

.navbar-default .navbar-nav > li > a:hover {
  color: rgb(29, 197, 230);
}

.navbar-default .navbar-nav > li > a:active .quote {
  color: rgb(125, 171, 176);
  letter-spacing: 3px;
  font-size: 2rem;
}
.default .navbar-nav li a {
  color: #3681a4;
}

.collapsed {
  border-color: #ddd;
  position: absolute;
  right: 0;
}

.quote {
  font-size: 2.5rem;
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 760px) {
  .quote {
    display: none;
  }
}
