.main-page-jumbo {
  align-self: start;
  /* scroll-snap-type: y mandatory; */
  overflow-y: scroll;
}

.header-job-family {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  padding: 20rem 5rem 5rem 5rem;
  height: 100vh;
}

.job-location {
  margin: 0 5rem 0 0;
  text-align: right;
}

.family-img {
  margin: 0 5rem 0 5rem;
  border-radius: 0.5rem;
  opacity: 0.8;
  font-weight: bold;
  border: 10px solid rgba(88, 123, 131, 0.564);
}

.location-title {
  color: rgb(33, 167, 167);
  font-size: 3.5rem;
  font-weight: bold;
}

.job-title {
  font-size: 7rem;
  color: rgb(107, 159, 159);
}

.item {
  /* justify-self: center; */
}

h1 {
  text-align: center;
}

.modal-content {
  font-size: 1rem;
}

.bottom {
  font-size: 4rem;
  letter-spacing: 3px;
  color: rgb(71, 167, 167);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.bucket-items ul li:nth-child(odd) {
  font-size: 3.3rem;
  color: rgb(226, 246, 255);
}

.bucket-items ul li:nth-child(even) {
  font-size: 3.3rem;

  color: rgb(125, 255, 229);
}

.technology-interests {
  font-size: 1rem;
}

.main-page-jumbo div .carousel-indicators {
  bottom: -3rem;
}

.bucket-items {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 5rem;
  justify-content: center;
  align-items: center;
}

.bucket-items h3 {
  font-size: 7rem;
  color: aquamarine;
  margin-bottom: 4rem;
}

.bucket-items ul {
  justify-self: center;
}

.bucket-items ul li {
  text-align: start;
  font-size: 2rem;
  margin: 2rem 0;
}

.journey-items {
  display: flex;

  margin: auto;
}

.journey-items ul {
  margin: auto;
}

.journey-items ul li {
  text-align: start;
  margin: 2rem 0;
}

.about-items p strong {
  color: rgb(209, 249, 241);
}

.about-items {
  width: 54rem;
  margin: auto;
  background-color: rgba(118, 160, 199, 0.242);
  border-radius: 1rem;
  box-shadow: 2px 2px 2px 2px rgba(7, 5, 5, 0.05);
}

.jumbo-experience-education {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.jumbo-experience-education .resume-experience-education {
  width: 100vw;
  justify-content: center;
}

.jumbo-resume-section ul li {
  margin: 40px 20px 100px 20px !important;
}

.jumbo-education-section ul li {
  margin: 40px 20px 100px 20px !important;
}
.jumbo-education-title,
.jumbo-experience-job-title {
  color: rgb(173, 210, 213);
}

.jumbo-experience-job-title,
.jumbo-education-title {
  font-size: 3.5rem;
  width: 25rem;
  color: rgb(114, 228, 232);
}

.jumbo-education-header,
.jumbo-experience-header {
  font-size: 5rem;
  color: rgb(143, 184, 233);
}

.jumbo-experience-time-period,
.jumbo-education-time-period {
  color: rgb(133, 133, 133);
  font-size: 2.5rem;
}

.jumbo-resume-section {
  margin: 0 7rem;
  width: 30rem;
}

.jumbo-education-section {
  margin-right: -10rem;
  margin-left: 10rem;
}
