.main-page-jumbo {
  display: flex;
  margin: 2rem 0;
  justify-content: space-evenly;
  width: 90%;
  border-radius: 1rem;
  background-color: rgba(48, 112, 147, 0.824);
  animation: 1s linear normal backwards 1 fadeIn;
  height: 50rem;
  box-shadow: 1px 1px 1px 2px #2c425fab;
}

.live-simply {
  color: aliceblue;
}

.live-simply:hover {
  color: aquamarine;
}

.slide,
.carousel {
  width: 100%;
  display: flex;
}

.family-img {
  margin: 0 0 0 3rem;
  border-radius: 0.5rem;
  opacity: 0.7;
}

.item {
  /* justify-self: center; */
}

h1 {
  text-align: center;
}

.modal-content {
  font-size: 1rem;
}

.carousel-control.right,
.carousel-control.left {
  color: rgb(50, 66, 66);
  background-image: none;
}

.carousel-control.right {
  color: black;
}

.jumbotron .h1,
.jumbotron h1 {
  font-size: 50px;
  margin: 0;
}

.jumbotron p {
  font-size: 2.6rem;
}

.jumbotron h3 {
  font-size: 5rem;
}

.carousel-caption {
  font-size: 2rem;
  position: static;
}

.bottom {
  font-size: 4rem;
  letter-spacing: 3px;
  color: rgb(71, 167, 167);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.bucket-items ul li:nth-child(odd) {
  font-size: 2.5rem;
  color: rgb(174, 231, 255);
}

.bucket-items ul li:nth-child(even) {
  font-size: 2.5rem;

  color: rgb(197, 255, 243);
}

.technology-interests {
  font-size: 1rem;
}

.main-page-jumbo {
  grid-column: 3/4;
  grid-row: 1/3;
  align-self: start;
  margin: 6rem 0 0 0;
}

.main-page-jumbo div .carousel-indicators {
  bottom: -3rem;
}

.bucket-items {
  display: flex;
}

.bucket-items ul {
  margin: auto;
}

.bucket-items ul li {
  text-align: start;
}

.journey-items {
  display: flex;
}

.journey-items ul {
  margin: auto;
}

.journey-items ul li {
  text-align: start;
  margin: 2rem 0;
}

.about-items p strong {
  color: rgb(209, 249, 241);
}
