.main-page-container {
  align-self: start;
}

.scroll-navigation {
  z-index: 100;
  position: absolute;
  right: 2rem;
  top: 20%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.scroll-nav,
.scroll-nav-hide {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  opacity: 1;
  transition: 0.3s linear;
}

.scroll-nav-hide {
  opacity: 0;
}

.fa-ellipsis-v,
.fa-times {
  font-size: 2rem;
  color: aquamarine;
  cursor: pointer;
}

.fa-ellipsis-v:hover,
.fa-times:hover {
  filter: invert(0.5);
}

.scroll-item {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  list-style-type: none;
  height: 2rem;
  width: max-content;
  margin: 0.5rem 0;
  padding: 0 0.5rem;
  cursor: pointer;
  transition: 0.3s linear;
}

.scroll-item:hover {
  background-color: rgb(118, 63, 167);
  filter: invert(0.95);
}

.scroll-active {
  color: rgb(0, 240, 0);
}

h1 {
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
