.header-job-family {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 20rem 5rem 5rem 5rem;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

.flex {
  background-color: rgba(190, 190, 190, 0) !important;
  border-radius: 1rem;
}

.toggle-play-button {
  background-color: rgb(78, 128, 186) !important;
  cursor: pointer;
  transition: 0.2s linear;
}

.toggle-play-button i {
  border-left: 20px solid rgb(16, 47, 51) !important;
  transition: 0.2s linear;
  background-color: rgba(158, 128, 128, 0) !important;
  box-shadow: none !important;
}

.progress-bar-wrapper div:nth-child(1) {
  background-color: rgba(250, 250, 250, 0.062) !important;
}

.toggle-play-button:hover {
  background-color: rgb(93, 159, 235) !important;
}

.toggle-play-button:hover > i {
  border-left: 20px solid rgb(1, 71, 141) !important;
}

.time,
.current-time,
.total-time {
  color: skyblue;
  letter-spacing: 1px;
}

.total-time {
  color: aqua;
}

.job-location {
  margin: 0 2rem 0 8rem;
  text-align: right;
}

.family-img-hide {
  border-radius: 0.5rem;
  opacity: 0;
  font-weight: bold;
  border: 4px solid rgba(0, 0, 0, 0.23);
}

.family-img-show {
  border-radius: 0.5rem;
  opacity: 0.8;
  font-weight: bold;
  border: 4px solid rgba(0, 0, 0, 0.23);
}

.image-container {
  margin: 0 5rem 0 5rem;
  position: relative;
  height: 450px;
  width: max-content;
  overflow: hidden;
}

.image-cover-initial {
  position: absolute;
  height: 100%;
  background: rgb(34, 78, 92);
  z-index: 10;
  width: 0;
}

.image-cover-body {
  width: 100%;
  position: absolute;
  height: 100%;
  background: rgb(47, 60, 85);
  z-index: 10;
  transition: 0.5s linear;
  transform: translate3d(0, 0, 0);
}

.image-cover-end {
  width: 100%;
  position: absolute;
  height: 100%;
  background: rgb(32, 51, 56);
  z-index: 10;
  transition: 0.5s linear;
  transform: translate3d(100%, 0, 0);
}

.location-title {
  color: rgb(71, 227, 227);
  font-size: 3.5rem;
  font-weight: bold;
}

.job-title {
  font-size: 7rem;
  color: #8ac9ff;
}
