.icons {
  animation: flipInY 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  flex-direction: column;
}

ion-icon:hover {
  color: rgb(133, 206, 206);
  background: rgba(155, 211, 211, 0.367);
  animation: pulse 1.2s linear infinite;
}

ion-icon {
  font-size: 4rem;
  color: rgb(138, 186, 186);
  margin: 1rem 2rem;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
}

.tooltip {
  font-size: 2rem;
  letter-spacing: 5px;
}

#phone {
  font-size: 2rem;
  letter-spacing: 3px;
}

.home-container {
  display: grid;
  grid-template-columns: 16rem 1fr 15fr;
  height: 100%;
  grid-row: 2/ 3;
}

.home-container .jumbotron {
  margin: rem auto;
}

.contact {
  text-align: center;
  font-size: 4rem;
  color: aliceblue;
}

.contact-aside {
  grid-column: 1/ 2;
  height: 50rem;
  width: 12.5em;
  justify-self: center;
  position: fixed;
  z-index: 10;
  background-color: #0f3f5d;
  -webkit-animation: slideInLeft 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: slideInLeft 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  left: 6rem;
  top: 12.7rem;
}

.rope {
  top: 15rem;
  justify-self: center;
  height: 90vh;
  position: fixed;
  width: 3rem;
  left: 13.3rem;
  border: 7px solid rgb(28, 84, 133);
  border-top: 0;
  background-color: #0f3f5d;
}

.string {
  height: 3rem;
  position: absolute;
  margin: -5rem 0;
  top: 47%;
  /* transform: translate(50%, 50%); */
  left: 19rem;
  width: 14rem;
  border: 7px solid rgb(28, 84, 133);
  border-left: 0;
  border-right: 0;
  z-index: -1;
  background-color: #0f3f5d;
  align-self: end;
  margin-bottom: 4rem;
}

.string-2 {
  grid-row: 2/ 3;
  align-self: start;
  margin-top: 4rem;
}

.contact-aside:before {
  content: '';
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  /* bottom: 3px; */
  bottom: -12%;
  /* left: 0; */
  border-top: 30px solid #0f3f5d;
  border-right: 87.5px solid #0f3f5d;
  border-left: 87.5px solid #0f3f5d;
  border-bottom: 60px solid transparent;
  filter: drop-shadow(1px 8px 3px rgba(0, 0, 0, 0.3));
}

@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(155, 211, 211, 0.367);
  }
  50% {
    box-shadow: 0 0 0 9px rgba(157, 158, 158, 0.134);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(157, 158, 158, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
