.icons {
  animation: flipInY 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  flex-direction: row;
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transform: 0.7s linear;
  margin-top: 3rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icons-hide {
  display: none;
}

.ion-icon-wrap {
  height: 6.5rem;
  width: 6.5rem;
  transform: rotate3d(4, 2, 30, 30deg);
  padding: 0;
  border-radius: 1rem;
  transition: 0.4s linear;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
  align-items: center;
}

.ion-icon-wrap:hover {
  background: rgba(155, 211, 211, 0.367);
  animation: pulse 1.2s linear infinite;
  transform: rotate3d(0, 0, 0, 0deg);
  border-radius: 50%;
}

.ion-icon-wrap:hover > .icon-itself {
  color: rgb(133, 206, 206);
  transform: rotate(0deg);
}

.icon-itself {
  filter: invert(0.75);
  transform: rotate3d(4, 2, 30, -30deg);
  height: 3.5rem;
  transition: 0.4s;
  width: 4rem;
  cursor: pointer;
}

.tooltip {
  font-size: 1.5rem;
  letter-spacing: 5px;
}

#phone {
  font-size: 2rem;
  letter-spacing: 3px;
}

.home-container {
  display: grid;
  grid-template-columns: 16rem 1fr 15fr;
  height: 100%;
  grid-row: 2/ 3;
}

.home-container .jumbotron {
  margin: rem auto;
}

.contact {
  text-align: center;
  font-size: 4rem;
  color: aliceblue;
}

.contact-aside,
.contact-aside-half {
  height: 24rem;
  width: 11.5em;
  justify-self: center;
  position: fixed;
  border-top: 13px solid rgb(28, 84, 133);
  z-index: 10;
  background-color: #0f3f5d;
  -webkit-animation: slideInLeft 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: slideInLeft 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translate3d(6.2rem, 24rem, 0);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 100px #7586acd2;
}

.contact-aside-half {
  height: 0rem;
  z-index: -2;
  opacity: 0;
}

.contact-aside-half::before {
  content: '';
  position: absolute;
  opacity: 0;
  bottom: -26%;
  left: -1rem;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  border-right: 80.5px solid #0f3f5d;
  border-left: 80.5px solid #0f3f5d;
  transition-delay: 0.2s;
}

.contact-aside::before {
  content: '';

  position: absolute;
  opacity: 1;
  bottom: -26%;
  left: -1rem;
  border-right: 80.5px solid #0f3f5d;
  border-left: 80.5px solid #0f3f5d;
  border-bottom: 60px solid transparent;
  transition-delay: 0.2s;
  transition: 0.4s linear;
  filter: drop-shadow(0px 3px 1px rgb(37, 37, 37));
}

.full-rope,
.part-rope {
  justify-self: center;
  height: 5.8rem;
  position: fixed;
  width: 3rem;
  transform: translate3d(13rem, 19.5rem, 0);
  border: 7px solid rgb(28, 84, 133);
  border-bottom: 0;
  border-top: 0;
  z-index: 100;
  background-color: #0f3f5d;
  transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.part-rope {
  height: 0;
  width: 0;
  transition-delay: 0.4s;
}

.string-half,
.string-full,
.string-hide {
  height: 4.5rem;
  position: fixed;
  transform: translate3d(0rem, 15.7rem, 0);
  width: 25.5rem;
  border: 7px solid rgb(28, 84, 133);
  border-left: 0;
  color: rgb(139, 192, 216);
  z-index: 0;
  background-color: #0f3f5d;
  display: flex;
  padding: 0;
  transition: 0.4s ease-in-out;
}

.string-half,
.string-full {
  z-index: 10;
}

.string-hide {
  transform: translate3d(-27rem, 15.7rem, 0);
}

.string-half {
  transform: translate3d(-12rem, 15.7rem, 0);
  transition-delay: 0.5s;
  position: fixed;
}

.contact-string-icon {
  margin: 0 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-start;
  z-index: 10000;
  cursor: pointer;
}

.contact-string-icon:hover > .fa-caret-right,
.contact-string-icon:hover > .contact-string {
  color: rgb(152, 222, 255);
}

.fa-caret-right,
.fa-caret-left {
  margin: 1rem;
  font-size: 2.8rem;
  justify-self: start;
  align-self: center;
}

.contact-string {
  font-size: 1.8rem;
  margin: 0.5rem 0;
  align-self: center;
  font-weight: bold;
}

@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(155, 211, 211, 0.367);
  }
  50% {
    box-shadow: 0 0 0 9px rgba(157, 158, 158, 0.134);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(157, 158, 158, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
