.jumbo-experience-section {
  width: max-content;
  margin-right: 10rem;
}

.jumbo-experience-section ul li {
  margin: 40px 50px 70px 50px !important;
}

.jumbo-experience-time-period::before {
  content: '';
  position: absolute;
  border-left: 4px dashed rgb(46, 113, 158);

  width: 0;
  height: 3rem;
  top: 3.3rem;
  left: 4rem;
}
.jumbo-experience-time-period::after {
  content: '';
  width: 20px;
  height: 20px;
  border: 2px solid rgb(113, 159, 199);
  left: -58px;
  top: -4px;
  background-color: rgb(1, 56, 104);
  position: absolute;
  border-radius: 50%;
}
