/* svg */
.horizontal-chart {
  margin: 0 0 0 2.5rem;
}

.lead-bar {
  fill: #00000038 !important;
  border-radius: 0.5rem;
}

.bar {
  fill: #92cae8;
}

.bar:hover {
  fill: #78a5c2 !important;
}

.bar-text {
  font-size: 1.8rem;
  font-weight: 800;
  transition: 0.2s linear;
}

.skill-bar {
  margin: 10rem 0;
  fill: #1e5082 !important;
  transition: 0.2s linear;
  border-radius: 0.5rem;
}

.skill-bar:hover {
  fill: #04629d !important;
}
