.skill-icons {
  margin: 2rem !important;
  filter: invert(1);
}

.skillset {
  width: 45rem;
  text-align: center;
  float: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-box {
  position: relative;
}

.skill-tool-tip {
  position: absolute;
  top: 3.2rem;
  left: 18%;
  font-size: 2rem;
  color: rgb(205, 225, 244);
  padding: 0.1rem 1rem;
  background-color: rgb(61, 99, 118);
  z-index: 12;
  border-radius: 1rem;
  letter-spacing: 1.5px;
  font-weight: bold;
}

.Redux {
  left: 10%;
}

.Node {
  left: 13%;
}

.HTML {
  left: 10%;
}

.Jest {
  left: 25%;
}

.Git {
  left: 26%;
}

@keyframes invert {
  0% {
    filter: invert(1);
  }
  25% {
    filter: invert(0);
  }
  50% {
    filter: invert(1);
  }
  75% {
    filter: invert(0);
  }
  100% {
    filter: invert(1);
  }
}
