.skill-icons {
  filter: brightness(0) opacity(0.5);
}

.skillset {
  width: 45rem;
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-box {
  position: relative;
  width: max-content;
  border: 0.5px solid rgb(27, 130, 182);
  border-radius: 3rem;
  background: rgb(41, 70, 85);
  padding: 1.5rem;
  margin: 1em;
}

.skill-box:hover > .skill-icons {
  filter: brightness(1) opacity(1);
  transition: 0.2s linear;
}

.skill-box:hover {
  background: rgb(28, 58, 73);
  transition: 0.2s linear;
}

.skill-tool-tip {
  position: absolute;
  top: -1.4rem;
  left: 0;
  background: rgb(27, 130, 182);
  font-size: 1rem;
  color: rgb(205, 225, 244);
  width: max-content;
  padding: 0.5rem;
  z-index: 12;
  border-radius: 1rem;
  letter-spacing: 1.5px;
  font-weight: bold;
}

.Redux {
  left: 10%;
}

.Node {
  left: 13%;
}

.HTML {
  left: 10%;
}

.Jest {
  left: 25%;
}

.Git {
  left: 26%;
}

@keyframes invert {
  0% {
    filter: invert(1);
  }
  25% {
    filter: invert(0);
  }
  50% {
    filter: invert(1);
  }
  75% {
    filter: invert(0);
  }
  100% {
    filter: invert(1);
  }
}
