.resource-cards {
  border-top: 1px solid rgba(255, 255, 255, 0.13);
  display: flex;
  height: 20rem;

  height: max-content;
  justify-content: space-betteen;
  align-items: space-around;
  flex-direction: column;
  margin: auto;
}

.resource-section-title {
  text-align: center;
  margin: 5rem 0;
}

.resource-subtitle-section {
  display: flex;
  flex-direction: column;
  width: 20rem;
  justify-content: flex-start;
  list-style: none;
  justify-content: space-evenly;
  margin: 1rem 3rem;
}

.resource-subtitle-section li {
  margin: 1rem;
  font-weight: bold;
  text-align: left;
}
.resource-subtitle-section li a {
  display: flex;
  font-size: 1.2em;
}

.resource-subtitle-section li a:hover,
.resource-subtitle-section li a:focus {
  text-decoration-line: none;
  color: rgb(190, 237, 255);
}

.resource-content-section {
  display: flex;
  flex-direction: row-reverse;
}

.resource-description-section {
  width: 20rem;
  display: flex;
  align-items: center;
  margin: 0 3rem;
}

.resource-description-section p {
  font-size: 2rem;
  font-weight: bold;
}

.divider {
  border: 1px solid rgba(56, 79, 85, 0.507);
}

.resource-card {
  margin: 5rem auto;
  border: 1px solid rgb(51, 78, 90);
  position: relative;
  background: rgba(66, 66, 66, 0.24);
  height: max-content;
  width: max-content;
  padding: 1rem;
  border-radius: 1rem;
}

.resource-title,
.resource-subtitle {
  color: white;
  font-size: 2rem;
  margin: 1rem;
}

.resource-title {
  position: absolute;
  top: -4.5rem;
  text-align: center;
  left: 0;
  right: 0;
  font-size: 2rem;
  background: rgb(6, 33, 70);
  margin: 2rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  border: 1px solid rgb(119, 149, 158);
}

@media screen and (max-width: 1100px) {
  .jumbo-education-section {
    margin-left: 27rem;
    margin-top: 10rem;
  }
}
