.footer {
  display: flex;
  position: relative;
  justify-content: center;
  bottom: 0;
  width: 100%;
  grid-row: 3 / 4;
}

.weather-content {
  border: 4px solid rgb(57, 125, 184);
  height: 7rem;
  width: 66rem;
  position: absolute;
  bottom: 1.7rem;
  left: 50%;
  margin: 0 0 0 -33rem;
  /* background-color: rgb(1, 126, 126); */
  z-index: -1;
}
.high-low {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather {
  font-family: antaro;
}

.weather-high,
.weather-low {
  color: rgb(150, 206, 249);
  font-size: 2rem;
  margin: 0rem -15px 0rem 0px;

  padding: 1.25rem 2rem 1.25rem 1.5rem;
  z-index: 0;
}

.weather-high {
  color: rgb(210, 142, 142);
  border-bottom: 1px solid white;
}

.weather-icon-left {
  filter: invert(1);
  height: 60px;
  margin: 0 0 0 0.5rem;
}

.weather-desc-img {
  height: max-content;
  align-items: center;
  display: flex;
  background: #131111;
  border-radius: 5rem;
  padding: 1rem 2rem 1rem 1rem;
  border: 1px solid #fff;
  max-width: -moz-max-content;
  max-width: max-content;
  z-index: 1;
}

.weather-summary {
  align-self: center;
  text-align: left;
  margin: 0 0 0 1rem;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 700;
  width: 210px;
}

.fa-temperature-low,
.fa-temperature-high {
  margin-right: 0.4rem;
}

@font-face {
  font-family: antaro;
  src: url(../../Fonts/Antaro.ttf);
}

.weather-info {
  font-weight: 100;
  color: #666;
  /* background-image: linear-gradient(to right, #0f3f5d, rgb(110, 146, 174)); */
  font-size: 20px;
  line-height: 40px;
  margin-top: 2rem;
  width: max-content;
  position: relative;
  text-align: center;
  height: 10rem;
  display: flex;
}
