.jify {
  padding-top: 3rem;
  font-size: 5rem;
  color: aqua;
  margin: 0;
}

.gif-items {
  margin: 1rem;
}

.gif-form {
  background-color: aliceblue;
  width: 23rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  border-radius: 0.5rem;
}

.gif-input {
  height: 4rem;
  width: 20rem;
  font-size: 2rem;
}

.fa-searchengin {
  font-size: 3rem;
  padding: 0.5rem;
  color: rgb(39, 147, 147);
  cursor: pointer;
}

.search-results {
  width: 28rem;
  margin: 3rem auto;
  font-size: 2.5rem;
}

.gif-container {
  margin-top: 2rem;
  scroll-snap-align: start;
}

#scrolling {
  margin: auto;
  overflow-y: auto;
  width: 88rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

#scrolling div {
  height: 60rem;
}

.search-results {
  color: aqua;
}

.infinite-scroll-component {
  height: 30rem;
  overflow-y: auto;
}
