.timeline-bar {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.564);
  color: white;
  width: 40%;
  height: 100vh;
  border-radius: 30% 0 0 30%;
  box-shadow: 5px 5px 55px 30px rgba(0, 0, 0, 0.538);
}

.experience-education-nav {
  position: absolute;
  margin-top: 2rem;
  margin-left: 26rem;
  font-size: 1.7rem;
  font-weight: 800;
  cursor: pointer;
  z-index: 100;
}

.about-tab {
  margin: 0 1rem;
  font-size: 1.8rem;
  height: 1.5rem;
  padding: 0.5rem;
  border-bottom: none;
  z-index: 10;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.3s linear;
  color: rgb(11, 116, 160);
}

.about-tab-active {
  color: #d2cfcf;
}

.about-tab:hover {
  background: rgb(11, 116, 160);
  color: black;
}

.year-section {
  min-height: 100vh;
  border-left: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5rem;
  width: max-content;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  position: relative;
  margin: 0 0 0 25rem;
}

.year-section .year-item {
  position: relative;
  font-size: 1.5rem;
  margin: 3rem 0;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: 0.3s linear;
  border-radius: 0.5rem;
}
.year-item:last-child {
  margin-top: 20rem;
}

.year-item:hover {
  background-color: rgb(79, 149, 154);
  color: black;
}

.year-item-active {
  color: aqua;
}

.about-content {
  color: white;
  height: 80vh;
  width: 50rem;
  position: absolute;
  overflow-x: scroll;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  top: 20%;
  left: 25%;
}

.about-item-content {
  font-size: 2rem;
  height: 100%;
  width: 100%;
  margin: 0 0 0 20rem;
}

.about-item-content:first-child {
  margin: 0;
}

.about-item-content h2,
.about-content h4 {
  width: 45rem;
  font-weight: bold;
  font-size: 6rem;
  color: #5db0b3;
}

.about-content h4 {
  font-size: 2.5rem;
  color: lightblue;
  margin-top: 4rem;
}

.about-content p {
  margin: 4rem 0;
  font-size: 2rem;
}

.year-section .year-item-active::before {
  content: '';
  position: absolute;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  left: -5.5rem;
  top: 30%;
  border: 2px solid aqua;
  background-color: aqua;
}

.jumbo-experience-education .resume-experience-education {
  width: 100vw;
  margin-top: 10rem;
}

.jumbo-education-section ul li,
.jumbo-experience-section ul li {
  display: flex;
  height: 10rem;
  width: max-content;
  flex-direction: row-reverse;
  margin: 40px 50px 100px 50px !important;
}

.resume-experience-education ul li span {
  left: -49px !important;
}

.resume-experience-education ul li span::after {
  content: '';
  position: absolute;
  top: -6.2rem !important;
  left: -3.3rem !important;
  z-index: -1;
  padding: 0 4rem;
  width: 1rem;
  height: 100%;
  border-bottom: 13px double rgb(113, 159, 199) !important;
  transform: rotate(32deg);
  background: none !important;
}

.resume-experience-education ul li:hover > .jumbo-experience-job-title,
.resume-experience-education ul li:hover > .jumbo-education-title {
  border-radius: 2rem;
  text-decoration-line: underline;
}

.jumbo-education-title,
.jumbo-experience-job-title {
  color: rgb(143, 184, 233);
  width: max-content;
  font-size: 3.5rem;
  color: rgb(173, 210, 213);
  margin: 1rem !important;
}

.jumbo-education-header,
.jumbo-experience-header {
  font-size: 5rem;
  display: flex;
  font-weight: bold;
  color: rgb(114, 228, 232);
}

.jumbo-experience-header i,
.jumbo-education-header i {
  font-size: 3rem;
  padding: 1rem;
}

.jumbo-experience-time-period,
.jumbo-education-time-period {
  color: rgb(133, 133, 133);
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2rem;
}

.jumbo-experience-time-start,
.jumbo-education-time-start {
}

.detail-popup {
  position: absolute;
  left: -27rem;
  color: rgb(227, 248, 252);
  font-size: 1.5rem;
  width: 21rem;
  letter-spacing: 1px;
  background: rgba(255, 255, 255, 0.098);
  height: max-content;
  padding: 0.5rem;
  border-radius: 1rem;
}

@media screen and (max-width: 1100px) {
  .jumbo-experience-education .resume-experience-education {
    flex-direction: column;
    align-items: center;
  }
}
