.timeline-bar {
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.51);
  color: white;
  width: 40%;
  height: 100vh;
  border-radius: 30% 0 0 30%;
  box-shadow: 5px 5px 133px 58px rgba(0, 0, 0, 0.67);
}

.experience-education-nav {
  margin: 0 0 0 -3rem;
  font-size: 1.7rem;
  font-weight: 800;
  cursor: pointer;
  z-index: 99;
  flex-basis: 7rem;
}

.about-tab {
  margin: 0 1rem 0 0.5rem;
  font-size: 1.6rem;
  height: 1.5rem;
  padding: 0.5rem;
  border-bottom: none;
  z-index: 10;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.3s linear;
  color: #d2cfcf;
}

.about-tab-active {
  color: rgb(11, 116, 160);
}

.about-tab:hover {
  background: rgb(11, 116, 160);
  color: black;
}

.year-section {
  min-height: 100vh;
  border-left: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5rem;
  width: max-content;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 0 0 25rem;
}

.year-section .year-item {
  position: relative;
  font-size: 1.5rem;
  margin: 3rem 0;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: 0.3s linear;
  border-radius: 0.5rem;
}

.about-content {
  background: #0000001b;
  border-bottom: 1px solid rgba(255, 255, 255, 0.527);
  border-top: 1px solid #5db0b3;
  color: white;
  width: 50rem;
  position: absolute;
  padding: 30px;
  overflow-x: scroll;
  overflow: hidden;
  top: 20%;
  left: 25%;
}

.about-content_inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.about-item-content {
  font-size: 2rem;
  height: 100%;
  width: 100%;
  margin: 0 0 0 20rem;
  padding: 15px;
}

.about-item-content:first-child {
  margin: 0;
}

.about-item-content h2,
.about-content h4 {
  width: 45rem;
  font-weight: bold;
  font-size: 6rem;
  color: #5db0b3;
}

.about-item-content h2 {
  margin: 0;
  font-size: 4.5rem;
}

.about-content h4 {
  font-size: 2.1rem;
  color: lightblue;
  margin-top: 1.5rem;
}

.about-content p {
  margin: 4rem 0;
  font-size: 1.7rem;
  font-weight: bold;
}

.professional-emblem {
  position: absolute;
  top: 1.5rem;
  left: 25%;
  height: 125px;
  z-index: 0;
  border-radius: 5px;
}

.year-item:hover {
  background-color: rgb(79, 149, 154);
  color: black;
}

.year-item {
  border: 1px solid rgba(0, 255, 255, 0);
  z-index: 1;
  width: max-content;
}

.side-quote {
  width: 200px;
  margin-top: 15rem;
  font-weight: bold;
  line-height: 25px;
}

.side-quote p {
  margin: 1.5rem;
}

.year-item-active {
  color: aqua;
  border: 1px solid aqua;
}

.year-item-active::before {
  content: '';
  position: absolute;
  /* height: 1rem; */
  width: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
  left: -5.8rem;
  top: 35%;
  border: 1px solid aqua;
  background-color: rgb(5, 107, 90);
}

.year-item-active::after {
  content: '';
  position: absolute;
  width: 1rem;
  padding: 0.4rem;
  left: -2.8rem;
  top: 25%;
  border-bottom: 2px solid aqua;
}

.jumbo-experience-education .resume-experience-education {
  /* width: 100vw; */
  margin-top: 10rem;
}

.resume-experience-education ul li span {
  left: -49px !important;
}

.resume-experience-education ul li span::after {
  content: '';
  position: absolute;
  top: -6.2rem !important;
  left: -3.3rem !important;
  z-index: -1;
  padding: 0 4rem;
  width: 1rem;
  height: 100%;
  border-bottom: 13px double rgb(113, 159, 199) !important;
  transform: rotate(32deg);
  background: none !important;
}

.resume-experience-education ul li:hover > .jumbo-experience-job-title,
.resume-experience-education ul li:hover > .jumbo-education-title {
  border-radius: 2rem;
  text-decoration-line: underline;
}

.jumbo-education-title,
.jumbo-experience-job-title {
  color: rgb(143, 184, 233);
  width: max-content;
  font-size: 3.5rem;
  color: rgb(173, 210, 213);
  margin: 1rem !important;
}

.jumbo-education-header,
.jumbo-experience-header {
  font-size: 5rem;
  display: flex;
  font-weight: bold;
  color: rgb(114, 228, 232);
}

.jumbo-experience-header i,
.jumbo-education-header i {
  font-size: 3rem;
  padding: 1rem;
}

.jumbo-experience-time-period,
.jumbo-education-time-period {
  color: rgb(133, 133, 133);
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2rem;
}

.detail-popup {
  position: absolute;
  left: -27rem;
  color: rgb(227, 248, 252);
  font-size: 1.5rem;
  width: 21rem;
  letter-spacing: 1px;
  background: rgba(255, 255, 255, 0.098);
  height: max-content;
  padding: 0.5rem;
  border-radius: 1rem;
}

@media screen and (max-width: 1100px) {
  .jumbo-experience-education .resume-experience-education {
    flex-direction: column;
    align-items: center;
  }
}
