.bucket-items {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 5rem;
  align-items: center;
}

.bucket-items h3 {
  font-size: 7rem;
  color: #8ac9ff;
  margin: 1.5rem 0 4rem 0;
}

.bucket-tabs {
  cursor: pointer;
  position: relative;
  border-radius: 3rem;
  overflow: hidden;
  padding: 0;
  border: 2px solid #8c8c8c;
}

.bucket-tabs:hover > .bucket-toggle {
  background-color: rgb(174, 140, 4);
}

.bucket-items button {
  background-color: rgba(126, 74, 6, 0.893);
  height: 3.4rem;
  width: 3.6rem;
  transition: 0.2s ease-out;
  cursor: inherit;
  border: none;
}

.bucket-items button:focus {
  outline: none;
}

.bucket-btn {
  position: relative;
}

.bucket-toggle {
  position: absolute;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  left: 0;
  top: 0;
  background-color: rgb(154, 112, 22);
  transition: 0.2s linear;
  z-index: 2;
  cursor: pointer;
  border: 2px solid rgb(75, 75, 75);
}

.bucket-toggle-personal {
  transform: translate3d(3.95rem, 0.11rem, 0);
}

.bucket-toggle-professional {
  transform: translate3d(0rem, 0.11rem, 0);
}

.bucket-code,
.bucket-user {
  font-size: 2rem !important;
  color: rgb(53, 29, 29) !important;
  margin: 0 !important;
  transition: 0.2s ease-out;
}

.bucket-user {
  transform: translate3d(-0.2rem, 0, 0);
}

.bucket-code {
  transform: translate3d(0rem, 0, 0);
}

.bucket-content {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 5rem;
  justify-content: space-around;
}

.bucket-items table {
  list-style-type: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(1, 1, 1, 0.125);
  min-width: 460px;
}

.bucket-items table td {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 4rem;
}
.bucket-items table .bucket-completed {
  text-decoration-line: line-through;
}

.bucket-items table .bucket-in-progress {
  color: rgb(255, 196, 0);
}

.bucket-items table .bucket-incomplete {
  color: rgb(191, 191, 191);
}

td {
  padding: 0 1rem;
}

.bucket-type {
  color: white;
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 3rem;
}

.family-img,
.army-img {
  height: 380px;
  border: 1px groove black;
  border-radius: 15rem;
  width: 310px;
  opacity: 0.9;
  filter: hue-rotate(20deg);
  box-shadow: 0 0 100px #c63f0ed2, inset 0 0 8px #c98c67b9;
}

.army-img {
  height: 380px;

  box-shadow: 0 0 100px #80d0ffd2, inset 0 0 8px #67bfc9db;
}

/* .bucket-items li:nth-child(4)::before {
  content: '';
  position: absolute;
  bottom: 50%;
  right: -2rem;
  height: 2rem;
  width: 10rem;
  background-color: aqua;
} */

.live-simply {
  color: rgb(110, 224, 255);
}

.checked-item {
  filter: invert(0.2);
  background-color: rgba(16, 10, 10, 0.187) !important;
  background-image: url('https://png.pngtree.com/svg/20150104/0038a72e9e.png');
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  font-weight: bold;
}
