.modal-container {
  position: relative;
  background-color: aquamarine;
}
.modal-container .modal,
.modal-container .modal-backdrop {
  position: absolute;
  background-color: aquamarine;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.modal-content {
  background-color: rgb(77, 99, 136);
}

.project-modal-description,
#contained-modal-title {
  font-family: badscript;
  line-height: 7rem;
  color: rgb(171, 209, 241);
}

#contained-modal-title {
  font-size: 5rem;
  text-align: center;
}

.project-carousel .img-thumbnail {
  cursor: pointer;
}

.project-carousel .img-thumbnail:hover {
  filter: brightness(30%);
}

.project-image {
  cursor: pointer;
}

.fa-github-alt,
.fa-laptop-code {
  cursor: pointer;
  font-size: 3rem;
  margin: 0 3rem;
  color: rgb(171, 209, 241);
}

.icon-links {
  margin: auto;
}
