.modal-dialog {
  width: 45%;
}

.modal-project-image {
  width: 100%;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.modal-content {
  background-color: rgb(77, 99, 136);
}

.project-modal-description,
#contained-modal-title {
  font-family: codec;
  line-height: 5rem;
  color: rgb(171, 209, 241);
  font-size: 29px;
  margin: 0;
}

#contained-modal-title {
  font-size: 5rem;
  text-align: center;
}

.project-carousel .img-thumbnail {
  cursor: pointer;
  opacity: 0.7;
}

.project-carousel .img-thumbnail:hover {
  filter: brightness(30%);
}

.project-image {
  cursor: pointer;
}

.imgs {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.modal-tech {
  margin: 0 2rem;
  filter: invert(0.95);
}

.fa-github-alt,
.fa-laptop-code {
  cursor: pointer;
  font-size: 3rem;
  margin: 0 3rem;
  color: rgb(171, 209, 241);
}

i:hover {
  color: rgb(199, 226, 250);
}

.icon-links {
  margin: auto;
}
