.modal-dialog {
  width: 45%;
}

.modal-project-image {
  margin-top: 2.5rem;
  border-radius: 1rem;
  border: 1px solid rgb(31, 31, 82);
  box-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.159);
  width: 85%;
  filter: brightness(0.8);
}

.styles_modal__gNwvD {
  background-color: rgb(28, 40, 60);
  box-shadow: 1px 1px 5px 1px rgb(0, 0, 0);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
}

.styles_closeIcon__1QwbI {
  fill: rgb(174, 225, 255);
}

.styles_closeIcon__1QwbI:hover {
  fill: rgb(255, 219, 219);
}

.styles_overlay__CLSq- {
  background: rgba(0, 0, 0, 0.322);
}

.modal-section-links {
  margin: 2rem 0 1.5rem 0;
  height: 14.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #e5e5e522;
  align-items: center;
  justify-content: space-around;
  padding-top: 0;
}

.modal-header h1 {
  color: rgb(201, 220, 240);
  font-weight: bold;
  font-size: 3rem;
}

.project-modal-description {
  font-weight: bold;
  font-family: codec;
  overflow: scroll;
  letter-spacing: 1px;
  line-height: 5rem;
  width: 58%;
  color: #8bb7dc;
  font-size: 16px;
  margin: 0;
}

#contained-modal-title {
  font-size: 5rem;
  text-align: center;
}

.project-carousel .img-thumbnail {
  cursor: pointer;
  opacity: 0.7;
}

.project-carousel .img-thumbnail:hover {
  filter: brightness(30%);
}

.project-image {
  cursor: pointer;
}

.imgs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-end;
  margin-bottom: 0.5rem;
  filter: invert(1);
}

.modal-tech {
  margin: 1rem;
  filter: invert(0.95);
}

.fa-github-alt,
.fa-laptop-code {
  cursor: pointer;
  font-size: 3rem;
  margin: 2rem;
  color: rgb(171, 209, 241);
}

i:hover {
  color: rgb(199, 226, 250);
}

.icon-links {
  margin-left: 2rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  border-left: 2px solid rgba(20, 20, 48, 0.193);
}
