.lead-bar {
  fill: #00000038 !important;
  border-radius: 0.5rem;
}

.bar {
  stroke: #94d6fc;
}

.bar:hover > .skill-bar-show {
  fill: #0968a3 !important;
  height: 10px;
}

.bar:hover > .bar-text {
  font-size: 1.7rem;
}

.bar-text {
  font-size: 1.5rem;
  font-weight: 800;
  transition: 0.1s linear;
}

.skill-bar-show {
  margin: 10rem 0;
  color: white;
  fill: #1e5082 !important;
  border-radius: 0.5rem;
}

.skill-bar-hide {
  width: 0px;
}

.tooltip-text {
  position: absolute;
  font-size: 1.4rem;
  fill-opacity: 1;
  transition: 0.2s linear;
  /* fill: rgb(72, 106, 168) !important; */
  letter-spacing: 2px;
  font-weight: bold;
  width: 10rem;
  height: 10rem;
}

.tooltip-text-hide {
  transition: 0.2s linear;

  fill-opacity: 0;
}
